<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.38.0" targetFramework="net48" />
  <package id="Azure.Core.Amqp" version="1.3.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net48" />
  <package id="Azure.Messaging.ServiceBus" version="7.17.5" targetFramework="net48" />
  <package id="chilkat-x64" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net48" />
  <package id="Microsoft.Azure.Amqp" version="2.6.9" targetFramework="net48" />
  <package id="Microsoft.Azure.ServiceBus" version="5.2.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="5.2.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.3.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="protobuf-net" version="3.2.45" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.2.45" targetFramework="net48" />
  <package id="Rebus" version="8.7.1" targetFramework="net48" />
  <package id="Rebus.AzureServiceBus" version="10.2.0" targetFramework="net48" />
  <package id="Rebus.SqlServer" version="8.2.0" targetFramework="net48" />
  <package id="Sitecore" version="10.4.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Analytics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Aggregation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.DataAccess" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.OmniChannel" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Processing" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.RobotDetection" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Annotations" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.Platform" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.XConnect.IndexWorker" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.XConnect.MarketingAutomationEngine" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.XConnect.ProcessingEngine" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.XConnect.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Async.Extensions.Legacy" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Buckets.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES.DeviceDetection" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES.DeviceDetection.Rules" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp.IpFiltering" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Cintel" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Cintel.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Client.LicenseOptions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Cloud.Nexus" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Content.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.ContentExtraction" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Data" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq.Solr" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.SolrNetExtension" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.SolrProvider" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTagging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTagging.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTagging.OpenCalais" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Intelligence" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.ML" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.ML.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.ML.Core.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Model.xConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Mvc" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Reporting.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ControlPanel" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.ProtobufNet" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Providers.CustomSMTP" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Providers.SparkPost" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EDS.SparkPost.ClientServices" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Activities" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Application" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Cd" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Cm" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Cm.UI" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.ExperienceAnalytics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Model.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.SampleNewsletter" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Server" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Templates" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.XConnect.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExM.Framework" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Api" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.ReAggregation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Reduce" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceContentManagement.Administration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak.Ribbon" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceExplorer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceExplorer.Analytics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceExplorer.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceExplorer.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.Analytics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.Data.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.Mvc" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.SubmitActions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Extensions.HotChocolate" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common.WildcardMatch" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Common" version="7.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="7.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Xml" version="7.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs" version="3.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs.Abstractions" version="3.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus.Azure" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus.SqlServer" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Api" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Core" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Model" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Registry" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Serialization" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.Abstractions" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.EntLib" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.Sql" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.FXM" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.FXM.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.FXM.Service" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.FXM.Speak" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.GraphQL.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.GraphQL.NetFxHost" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.GraphQL.Schema" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.GraphQL.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.GraphQL.Services.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ItemWebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Kernel.Portable" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.LaunchPad" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Logging.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.Activity" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.ActivityDescriptors" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.ActivityDescriptors.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.Models" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Campaigns.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Campaigns.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Definitions.MarketingAssets.Repositories" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Operations.Xdb.ReferenceData" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Operations.Xdb.ReferenceData.Service" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Search" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Segmentation.xMgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Taxonomy" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Taxonomy.xMgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.xMgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.xMgmt.ReferenceData" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Messaging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Messaging.Azure" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Messaging.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc.Analytics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc.DeviceSimulator" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc.ExperienceEditor" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Consumption" version="1.6.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Licensing" version="9.0.180604" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Owin" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Owin.Authentication" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Owin.Authentication.IdentityServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.PathAnalyzer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.PathAnalyzer.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.PathAnalyzer.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Personalization" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Personalization.Mvc" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Common" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Common.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Cursors.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Cursors.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.ML" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.ML.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Projection" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Storage" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Storage.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Storage.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.WebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Options" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Data.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Data.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Service.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Service.Data" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Service.Http.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Service.Http.XConnectClient" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.TypeGenerator" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Web.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.xMgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Screenshots" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Security.AntiCsrf" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.SequenceAnalyzer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider.Memory" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider.Redis" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider.Sql" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Applications" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Components" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Components.Guidance" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Components.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Integration.Services" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Integration.Spa" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.ItemWebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.TransientFaultHandling" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Update" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model.Plugins" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Configuration.Builders" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataPurge.Tasks.Options" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataPurge.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Conditions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.CortexWorkers" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Tasks.Options" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Tasks.Options.Validation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DataTools.Xmgmt.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DependencyInjection" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.DependencyInjection.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics.ApplicationInsights" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics.PerformanceCounters" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.HealthCheck.WebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Hosting" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Hosting.OwinSelfHost" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Logging.Serilog" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Logging.Serilog.AppInsights" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Messaging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Messaging.Azure" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Messaging.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Search" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Security.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Conditions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Engine" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service.Plugins" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service.Plugins.MarketingAutomation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service.Plugins.Processing" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Web.Host" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Web.Logging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Collection" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Collection.Data.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Collection.Search.Solr" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.HttpTransientFaultHandling" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.Web.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Locators" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Locators.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.OperationsClient" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.OperationsClient.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.ReportingClient" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.ReportingClient.Configuration" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Tracking" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Web.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.ContactMerge" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.ContactMerge.UI" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.Queue" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.Queue.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.Queue.SqlServer.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Client.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Service" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Service.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.SqlServer" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.SqlServer.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Web.XConnect" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Reporting" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Sql.Common" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Sql.Common.Encryption" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Sql.Common.HealthCheck" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Sql.Common.Xmgmt" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Tracking.Client" version="10.4.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="9.0.1" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>